.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .logo i {
        font-size: 28px;
        margin-right: 12px;
    }

    .logo .title {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
    }

[data-navbar="light"] .logo {
    /*background: #fff;*/
    color: #212121;
}

[data-navbar="dark"] .logo {
    background: #212121;
    color: #f5f5f5;
}

[data-navbar="indigo"] .logo {
    background: #1a237e;
    color: #f5f5f5;
}

[data-navbar="blue-grey"] .logo {
    background: #263238;
    color: #f5f5f5;
}

[data-background="dark"][data-navbar="dark"] .logo {
    background: #2b2b2b;
}

[data-background="indigo"][data-navbar="indigo"] .logo {
    background: #1d288f;
}

[data-background="blue-grey"][data-navbar="blue-grey"] .logo {
    background: #2e3d44;
}
